body{
    margin: 0;
    padding: 0;
    background-image: url(../images/pexels-mnm-zameer-3308588.jpg);
    background-size: cover;
}

.FundoP{
    background-color: rgba(0, 0, 0, 0.623);
    background-size:cover;
    width: auto;
    height: auto;
    padding: 8px 2%;
    border-radius: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.FundoP2{
    background-color: rgba(0, 0, 0, 0.623);
    background-size:auto;
    width: auto;
    height: auto;
    padding: 8px 2%;
    border-radius: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Textofim{
    color: white ;
}

header,
footer {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}

.fundo1 {
    width: 250px;
    height: 250px;
    border-radius: 2000px;
    background-color: rgb(43, 43, 43);
    margin: auto;
    margin-bottom: -10px;
}

.fundo2 {
    background-color: rgb(43, 43, 43);
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
    border-radius: 30px;
}

#FotoYuri{
    width: 240px;
    height: auto;
    border-radius: 200px;
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 30px 0;
}

p {
    margin-bottom: 10px;
    text-align: justify;
}

img {
    width: 100%;
}

#logo {
    width: 150px;
    margin: 30px 0;
    height: auto;
}

#FT0,
#FT1,
#FT2 {
    border-radius: 35px;
}

.carousel,
.row {
    margin-bottom: 10px;
}

.carousel {
    margin: auto;
}

.carousel {
    max-width: 650px;
    margin-top: 10px;
}

.carousel img {
    width: 100%;
}

.btn-primary {
    background-color: rgb(0, 51, 255);
}

.btn-primary:hover {
    background-color: rgb(9, 49, 148);
}

#HP{
    text-align: center;
    color: white;
}

.card-title{
    color: blanchedalmond;
}
.card {
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(43, 43, 43);
    color: white
}
